@font-face {
  font-family: "calculator";
  src: url("./style/font/Calculator.ttf");
}

@font-face {
  font-family: "caviar";
  src: url('.//style/font/CaviarDreams.ttf');
}


p,span,ul {
  font-family: "caviar";
  font-size: 1.2em;
}

h1,h2,h3 {
  font-size: 2.5em;
  font-family: "calculator";
  color: white;
  text-align: center;
}
h1 {
  margin: 0;
  padding: 10px 25px 0 25px ;
}

a {
  font-family: 'calculator';
  font-size: 1.6em;
  color: white;
  transition: 2s;
  text-shadow: 0 1px 50px 1px rgba(5,44,74,0.6);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  width: 50%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#navButton {
  width: 150px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  width: 80%;

}
#before {
  transform: rotate(180deg);
}
 #navButton img {
  width: 100px;
 }
 #navButton button {
  background-color: rgba(5,44,74,0.6);
  border-radius: 25px;
  border: 2px double rgba(255,255,255,0.5);
  box-shadow: 0px 0px 50px 3px rgba(255,255,255,0.3);
  transition: 0.2s
 }

 #navButton button:hover {

  box-shadow: 0px 0px 50px 10px rgba(225,255,255,0.3);
  border: 2px double rgba(255,255,255,1);
 }


.Panel {
  position: absolute;
  z-index: 10;
  width: 25%;
  background-color: rgba(5,44,74,0.6);
  border-radius: 25px;
  border: 2px double rgba(255,255,255,0.7);
  box-shadow: 0px 0px 30px 6px rgba(255,255,255,0.3);
  color: white;
  top: 10%;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}
#descriptionPlanete {
  text-align: justify;
  padding: 0 10px 0 10px;
}
#informations {
  position: absolute;
  z-index: 10;
  width: 25%;
  background-color: rgba(5,44,74,0.6);
  border-radius: 25px;
  border: 2px double rgba(255,255,255,0.7);
  box-shadow: 0px 0px 30px 6px rgba(255,255,255,0.3);
  color: white;
  top: 10%;
  bottom: 10%;
  right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}

#credits {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: white;
}

table, td ,tr ,th{
  font-family: "caviar";
  border: 1px solid;
  padding: 5px;
  width: 250px;
}
table {
  box-shadow: 0px 0px 50px 10px rgba(225,255,255,0.2);
  border-radius: 0 0 25px 25px;
  padding: 15px;
  backdrop-filter: blur(5px);
}
caption {
  font-family: "calculator";
  font-size: 1.5em;
  border: 1.5px solid white; 
  background-color: rgba(255, 255, 255,0.2);
  box-shadow: 0px 0px 50px 10px rgba(225,255,255,0.2);
  border-radius: 25px 25px 0 0;
  padding: 10px;
  backdrop-filter: blur(5px);
}

.informationsPlanete {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}


#periodique {
  display: none;
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  z-index: 15;
  background-color: rgba(5,44,74,0.6);
  border-radius: 25px;
  border: 2px double rgba(255,255,255,0.7);
  box-shadow: 0px 0px 30px 6px rgba(255,255,255,0.3);
  padding: 25px;
}
#periodique .containt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#periodique .containt button {
  background-color: transparent;
  font-size: 2em;
  font-weight: 800;
  color: white;
  margin: 5px;
  border: none;
}

 #openPeriodique img {
  width: 150px;
 }

 #openPeriodique{
  background-color: rgba(5,44,74,0.6);
  border-radius: 25px;
  border: 2px double rgba(255,255,255,0.5);
  box-shadow: 0px 0px 50px 3px rgba(255,255,255,0.3);
  transition: 0.2s;
  padding: 15px;
 }

 #openPeriodique:hover {
  box-shadow: 0px 0px 50px 10px rgba(225,255,255,0.3);
  border: 2px double rgba(255,255,255,1);
 }
